#relative #elem1 {
    position:relative;
    top:80px;
    left:40px;
	width: 100px;
	height: 100px;
	margin-bottom: 20px;
	background-color: #FF8888;
}
#relative #elem2 {
    position:relative;
    top:40px;
    left:80px;
	width: 100px;
	height: 100px;
	margin-bottom: 20px;
	background-color: #7E89EB;
    
}
#relative #elem3 {
    position:relative;
    top:1px;
    left:160px;
	width: 100px;
	height: 100px;
	margin-bottom: 20px;
	background-color: #4DEE99;
   
}