#num0 #parent {
	position: relative;
	width: 300px;
	height: 200px;
	margin: 50px auto;
	border: 1px solid green;
}
#num0 #child {
	position: absolute;
	left: -50px;
	width: 30px;
	height: 30px;
	border: 1px solid red;
}
#num0 #child1 {
	position: absolute;
	right: -50px;
	width: 30px;
	height: 30px;
	border: 1px solid red;
}