#elem {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 50px;
	border: 1px solid rgb(201, 201, 6);
    background-color: rgb(197, 197, 13);
    text-align: center;
    font: 18px Arial white;
    line-height: 10px;
    font-size: 20px;
    color:white;
    
}
#content {
	margin: 0 auto;
	width: 600px;
	font: 16px Arial;
    margin: 60px auto;
    padding:20px;
    border:1px solid rgb(197, 197, 13);

}