.xxx {
    font-size: 30px;
}

.block1 {
	color: red;
}
.block2 {
	color: green;
}

.red{
    color: red;
}
.green{
    color: green;
}
.blue{
    color: blue;
}

.red{
    color:red;
}
.green{
    color:green;
}